# .BACKUP
.BACKUP

# .cache
.cache/

# .config
.config/keepassx/marcosrdac.kdbx
.config/newsboat/history.search
.config/newsboat/history.cmdline
.config/nvim/.netrwhist
.config/transmission-daemon/resume/
.config/transmission-daemon/torrents/
.config/transmission-daemon/dht.dat
.config/stardict/history
.config/unique/ordered_monitors

# .local
.local/share/lf/history

# ~/
.calcurse
# offlineimap?? --------------- look for safety here
.offlineimaprc

# ignore all logs
/*.log

# History files
/.*history

# look later
.local/share/fonts/Envy Code R PR7/*
#looked till fontin
