!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

!URxvt.depth:                32  ! 32 bits, cracks w3m images
URxvt.geometry:             90x30
URxvt.transparent:          false
!URxvt.shading:              30
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            8192
URxvt.internalBorder:       0
URxvt.lineSpace:            -1

! Fonts
URxvt.allow_bold:           True
URxvt*font:     xft:Ubuntu Mono derivative Powerline:size=12
!URxvt*font:     xft:Symbol Neu Powerline:size=10

! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher,keyboard-select,selection-to-clipboard,paste_clipboard,font-size
URxvt.matcher.button:       1
URxvt.urlLauncher:          qutebrowser
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.C-k:      font-size:increase
URxvt.keysym.C-j:      font-size:decrease
URxvt.keysym.C-equal:  font-size:reset

! disabling Ctrl+Shift "ISO 14755 mode" message
URxvt.keysym.Control-Shift-ISO_Left_Tab: \033} 
URxvt*iso14755: False 
URxvt*iso14755_52: FalseURxvt.iso14755_52: False

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #aaaaaa
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true


*background: #FFFFFF
*foreground: #000000

!!*fading: 40
*fadeColor: #00ff00
*cursorColor: #000000
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1


!!! black dark/light
!*color0:  #000000
!*color8:  #454545
!
!!! red dark/light
!*color1:  #991510
!*color9:  #996361
!
!!! green dark/light
!*color2:  #000000
!*color10: #000000
!
!!! yellow dark/light
!*color3:  #c66c14
!*color11: #c69667
!
!!! blue dark/light
!*color4:  #b9cefa
!*color12: #616493
!
!!! magenta dark/light
!*color5:  #870f96
!*color13: #927196
!
!!! cyan dark/light
!*color6:  #1358ba
!*color14: #6d8dba
!
!!! white dark/light
!*color7:  #b8b8b8
!*color15: #e0e0e0
