[Desktop Entry]
Version=1.0
Type=Application
Name=Desinstalar IRPF2021
Exec=/mnt/hdd/home/tmp/irpf2021/uninstall 
Icon=/mnt/hdd/home/tmp/irpf2021/RFB.png
