[Desktop Entry]
Version=1.0
Type=Application
Name=Leia-me do IRPF2021
Exec=/mnt/hdd/home/tmp/irpf2021/xdg-open /mnt/hdd/home/tmp/irpf2021/Leia-me.htm
Icon=/mnt/hdd/home/tmp/irpf2021/RFB.png
