[Desktop Entry]
Version=1.0
Type=Application
Name=IRPF2021 - Declaração de Ajuste Anual, Final de Espólio e Saída Definitiva do País
Exec=/mnt/hdd/home/tmp/irpf2021/java-runtime/bin/java -Xms128M -Xmx512M -jar /mnt/hdd/home/tmp/irpf2021/irpf.jar
Icon=/mnt/hdd/home/tmp/irpf2021/RFB.png
