[Desktop Entry]
Type=Application
Name=FormatPlayer
MimeType=application/x-wine-extension-dvr-ms;
Exec=env WINEPREFIX="/home/marcosrdac/.local/share/wineprefix/default" /usr/bin/wine start /ProgIDOpen FormatPlayer.dvr-ms %f
NoDisplay=true
StartupNotify=true
Icon=AEA8_FormatPlayer.0
