[Desktop Entry]
Type=Application
Name=FormatPlayer
MimeType=video/x-msvideo;
Exec=env WINEPREFIX="/home/marcosrdac/.local/share/wineprefix/default" /usr/bin/wine start /ProgIDOpen FormatPlayer.avi %f
NoDisplay=true
StartupNotify=true
Icon=AEA8_FormatPlayer.0
