[Desktop Entry]
Type=Application
Name=FormatPlayer
MimeType=audio/x-mpegurl;
Exec=env WINEPREFIX="/home/marcosrdac/.local/share/wineprefix/default" /usr/bin/wine start /ProgIDOpen FormatPlayer.m3u8 %f
NoDisplay=true
StartupNotify=true
Icon=AEA8_FormatPlayer.0
