[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-vbscript;
Exec=env WINEPREFIX="/home/marcosrdac/.local/share/wineprefix/default" /usr/bin/wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
